.condo-content-bg {
  background-color: #e15b27;
}
.condo-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  margin: 0 78px;
  padding-bottom: 40px;
}

.condo-content-title h2 {
  color: #fff;
  font-size: 2.5rem;
  font-weight: 400;
}

@media (max-width: 750px) {
  .condo-content {
    margin: 0 auto;
  }
  .condo-content-title h2 {
    font-size: 1.5rem;
  }
}
