.plantas-bg {
  background-color: #282828;
}

.plantas-content {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 30px 10px;
}

.plantas-title {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 15px;
}

.plantas-title h2 {
  font-size: 2.5rem;
  color: #fff;
  text-align: center;
}

.plantas-title span {
  color: #e15b27;
  text-align: center;
  font-size: 1.4rem;
}

.plantas-items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  padding-top: 20px;
}

.plantas-tab {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 10px 20px;
  transition: 0.3s;
}

.plantas-tab:hover {
  background-color: #e15b27;
}

.plantas-tab span {
  font-size: 1.2rem;
  font-weight: bold;
  color: #000 !important;
}

.plantas-img {
  max-width: 100%;
}

.plantas-img img {
  width: 100%;
}

@media (max-width: 1020px) {
  .plantas-title h2 {
    font-size: 2rem;
  }
  .plantas-tab span {
    font-size: 1rem;
  }
}

@media (max-width: 767px) {
  .plantas-items {
    grid-template-columns: repeat(2, 1fr);
  }
  .plantas-title h2 {
    font-size: 1.5rem;
  }
}
